html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

// Typography

body {
    background-color: $violet;
    background-image: url(/assets/background-stars.svg);
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 0.875rem;
    line-height: 1.563rem;
    z-index: 0;
    color: $white;
}


h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 5rem;
    line-height: 6.438rem;
}

.header_one {
    font-family: 'Antonio', sans-serif;
    font-size: 5rem;
    line-height: 6.438rem;
}

h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 400;
    letter-spacing: -0.009rem;
    text-transform: uppercase;
}

.header_two {
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -0.009rem;
    text-transform: uppercase;
}

.h3 {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.563rem;
    letter-spacing: 0.163rem;
    text-transform: uppercase;
}

.header_three {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.563rem;
    letter-spacing: 0.163rem;
    text-transform: uppercase;
}

h4 {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 0.688rem;
    line-height: 1.563rem;
    letter-spacing: 0.063rem;
    text-transform: uppercase;
}

.header_four {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 0.688rem;
    line-height: 1.563rem;
    letter-spacing: 0.063rem;
    text-transform: uppercase;
}

.h2__mobile {
    font-family: 'Antonio', sans-serif;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.066rem;
    text-transform: uppercase;
}

// Buttons

.default__btn {
    width: 350px;
    height: 48px;
    text-align: left;

    .btn__number { 
        margin-right: 28px;
    }
}


// Nav Circles

.mercury-circle {
    height: 20px;
    width: 20px;
    background: #DEF4FC;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.venus-circle {
    height: 20px;
    width: 20px;
    background: #F7CC7F;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.earth-circle {
    height: 20px;
    width: 20px;
    background: #545BFE;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.mars-circle {
    height: 20px;
    width: 20px;
    background: #FF6A45;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.jupiter-circle {
    height: 20px;
    width: 20px;
    background: #ECAD7A;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.saturn-circle {
    height: 20px;
    width: 20px;
    background: #FCCB6B;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.uranus-circle {
    height: 20px;
    width: 20px;
    background: #65F0D5;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.neptune-circle {
    height: 20px;
    width: 20px;
    background: #497EFA;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

// HELPERS

// Container

.container {
    max-width: 90rem;
    margin: 0 auto;

    // Padding All

    &--pall {
        padding-top: 1.225rem;
        padding-right: 1rem;
        padding-bottom: 1.225rem;
        padding-left: 1rem;
    }

    &--plr {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

// Flex 

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-ai-l {
        align-items: left;
    }
}

// Hide

.hidden {
    display: none;
}


// ---------- //
// Animations //
// ---------- //

// Fade In

.fade-in {
    animation: fadein 1.2s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

.text-fade {
    animation: textfadein 1.2s;
}


@keyframes textfadein {
    from {
        opacity:0;
        transform: scale(0.75);
    }
    to {
        opacity:1;
        transform: scale(1);
    }
}

@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(-30px) rotate(90deg) scale(0.5);
    }
    to {
        opacity:1;
        transform: translateY(0px) rotate(0deg) scale(1);
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


// Slide In

.slide-in {
    animation: slidein 1s;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}