// Colors

$white: rgb(255, 255, 255);
$violet: rgb(7, 7, 36);
$darkGray: rgb(56, 56, 79);
$lightGray: rgb(131, 131, 145);

$lightBlue: rgb(65, 158, 187);
$gold: rgb(237, 162, 73);
$purple: rgb(109, 46, 213);
$darkOrange: rgb(209, 76, 50);

$red: rgb(216, 58, 52);
$orange: rgb(205, 81, 32);
$cyan: rgb(30, 193, 162);
$blue: rgb(45, 104, 240);

// Typography

